<p>
  The Visualization Core Lab will host an <em>Introduction to SQL for Data Science</em> workshop. 
  Visualization lab staff will provide an introduction to SQL for data science designed for 
  learners with little or no previous experience with SQL programming.
</p>
<p>
  Topics covered will include the following.
</p>
<ul>
  <li>Selecting data</li>
  <li>Sorting and removing duplicates</li>
  <li>Filtering</li>
  <li>Calculating new values</li>
  <li>Missing data</li>
  <li>Aggregation</li>
  <li>Combining data</li>
  <li>Data hygiene</li>
  <li>Creating and modifying data</li>
  <li>Programming with databases-Python</li>
  <li>Programming with databases-R</li>
  <li>Next steps for more advanced SQL training for data science.</li>
</ul>

<p>
  This hands-on lesson is part of the <em>Introduction to Data Science Workshop Series</em> 
  being offered by the KAUST Research Computing Core Labs as part of our on-going efforts to build 
  capacity in core data science skills at KAUST. The workshop curriculum largely follows the 
  <a href="http://swcarpentry.github.io/sql-novice-survey/">curriculum</a> developed by 
  <a href="{{site.swc_site}}">Software Carpentry</a>, a volunteer project dedicated to helping 
  researchers get their work done in less time and with less pain by teaching them basic research 
  computing skills.
</p>
<p>
  This is a live-coding based workshop and learners are expected to bring their own laptops with 
  the required software already downloaded and installed.
</p>

<p align="center">
  <em>
    For more information on what Software Carpentry teaches and why, please see their paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
